body {

  margin: 2rem;
  padding: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5ffea;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div#header{
  text-align: center;
  font-size: 18px;
}

h1{
  text-align: center;
  margin: auto;
}

p{
  font-size: 22px;
  font-style: italic;
  margin-top: auto;
  padding-bottom: 8px;
  border-bottom: solid;
  border-color: #fff9bb;
}

h2{
  text-align: center;
}

form#courseform{
  margin: 2rem;
  width: auto;
  padding: 2rem;
  text-align: center;
}

select#coursebox {
  font-size: 18px;
  padding-left: 1rem;
  margin: 1rem;
}

input{
  font-size: 18px;
  margin: 1rem;
}

header#teacherview {
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
}

header#courseHeader {
  text-align: center;
  font-size: 22px;
}

input#submit-student-attendance {
  font-size: 20px;
  margin: 1rem;
  width: auto;
  padding: 1rem;
}

ol.studentList{

}

div.btn-container{
  text-align: center;
}

div.style{
  text-align: center;
  text-align: center;
}

div.formData{
  width: 50%;
  margin: auto;
  /* padding-left: 10px;
  padding-right: 10px; */
  text-align: center;
}

input[type=checkbox] + label {
  color: #e81e28;
  font-style: normal;
}
input[type=checkbox]:checked + label {
  color: #379620;
  font-style: italic;
}
