body {
  height: auto;
  font-style: bold;
  width: auto;
}

p {
  color: blue;
}

/* header#teacherview {
  color: black;
} */

/* #submit-student-attendance {
/*submit buttons will be consistent throughout application} */

/* ol {
  /*ordered list for both className and studentList will remain uniform
  text-align: center;
}
*/
